{% extends "layout_application.html" %}
{% block title %}add client{% endblock %}
{% block content %}



<a href="/dashboard" class="feature six"  target="_"  >Back to Dashboard</a>

  <div class="maincontainer">
    <div class="maincontainercontent">

      <h2> Add client </h2>
    

      <form action="/createinvoice" method="POST">
        <br>
        <input type="text" name="name" placeholder="Name of client (unique)" required >
        <br>
        <input type="text" name="phone" placeholder="Phone number (10-15 digits)" required pattern="^\d{10,15}$">
        <br>
        <input type="text" name="email" placeholder="Email" required pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b">
        <br>

        <textarea name="description" placeholder="Client contact information (optional)"></textarea>
        <br>

        <br>
        <input type="submit" value="Add" class="">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
      <span class="error_message">{{errormessage}}</span>
      </div>
    </div>


      {% endblock %}



      