@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');


html {
  background-color: aqua;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}


.maincontainer {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}


.maincontainercontent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

input[type=button], input[type=submit], button  {
  background-color:#92badd;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 25px 20px 40px 20px;

}
input[type=submit]:hover{
  border: 1px solid #92badd;

  
} 

input[type=text] ,input[type=number],input[type=datetime-local] , input[type=button], textarea {
  background-color: #f6f6f6;
  padding: 15px 35px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border-radius: 5px 5px 5px 5px;
  border:none;
  outline:none;

}

input[type=text]:hover{
  border: 1px solid #92badd;
} 



h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #92badd;
   
}

a {
  text-decoration: none;
  color: #92badd;
  
}


a:hover {
  text-decoration: underline;
  
 
}

h1 {
  font-weight: 400;
  padding:2vw;
  color:white;
}



#topright{
    right:0;
    top:0;
    position:absolute;
    background-color: aliceblue;
    color:#92badd;

}
#feature{
    top:4vw;
    position:fixed;
    left:30%;
    font-weight: 600;
    font-size: 18px;
    color:white;
  
}


#invoicecreation {
  padding: 10vw;
}





/* 


p {
  font-size: 16px;

}


h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}


a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}


#topleft{
  
  text-align: center;
  color: #0d0d0d;
  font-size: 24px;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  
}

#topright{
  position:absolute;
  right:0;
  color: #0d0d0d;
  font-size: 24px;
  display:inline-block;
  margin: 40px 8px 10px 8px; 


}



#logout{
  position: absolute;
  top: 8px;
  right: 0;
  background-color: white;

}

#createinvoice{
  background-color: #fff;
  color: #0d0d0d;
  margin:auto;
  font-size: 16px;
  display:inline-block;
 
}



#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}




.dashboard{
  background-color: white;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #39ace7;
}


input[type=text],input[type=number],input[type=datetime-local] , input[type=button], textarea{
  background-color: #f6f6f6;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


input[type=text]:placeholder {
  color: #cccccc;
}

input[type=number]:placeholder {
  color: #cccccc;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

* {
  box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  

  
  
  .square{
    width: 65vw;
    height: 30vh;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #D9DBDF;
   
  }
  

  .h1{
    margin: auto;
    text-align: left;
    margin-top: 2vw;

    padding-left: 30px;
    font-size: 24px;
  }
  
  p{
   text-align: justify; 
   padding-left: 30px;
   padding-right: 30px;
   font-size: 12px;
   color: #C8C8C8;
   line-height: 18px;
  }
   */


