{% extends "layout.html" %}
{% block title %}add project{% endblock %}
{% block content %}



    <button id ="topright"><a href="/dashboard"  target="_"  >To dashboard</a></button>

    <div class="maincontainer">
        <div class="maincontainercontent">

            <h2> Add project</h2>
           

            <form action="/createinvoice" method="POST">
                <br>
                <input type="text" name="name" placeholder="Project name" required>
                <br>

                <textarea name="description" placeholder="Project despcription" required></textarea>
                <br>


                <input type="submit" value="Add" class="">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>

            {% endblock %}


