{% extends "layout.html" %}
{% block title %}add product{% endblock %}
{% block content %}


 <button id ="topright"><a href="/dashboard"  target="_"  >To dashboard</a></button>

 <div class="maincontainer">
  <div class="maincontainercontent">
      <h2> Add product</h2>
   


      <form action="/createinvoice" method="POST">
        <br>
        <input type="text" name="name" placeholder="Item name" required>
        <br>

        <textarea name="description" placeholder="Description of item" required></textarea>
        <br>

        <input type="number" name="price" placeholder="Price per unit" required>
        <br>

        <br>
        <input type="submit" value="Add" class="">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
      </div>
      </div>

      {% endblock %}