

<form action="/" method="POST">

    Service:

    <input type="text" name="service" value = "service">


    <!-- <div>
        <label for="services">Choose a product:</label>
        <select name="services" id="services">
          <option value="softwaredevelopment">Software development</option>
          <option value="accounting">Accounting</option>
          <option value="carwash">Car wash</option>
          <option value="lawnmoving">Lawnmoving</option>
        </select>
        <br><br>
      
    </div>
 -->




 
      Tax percentage
    <p>
    <input type="radio" name="taxpercentage" value="ten"> 10 %
    <input type="radio" name="taxpercentage" value="fourteen"> 14 %
    <input type="radio" name="taxpercentage" value="twentyfour"> 24%
    <input type="radio" name="taxpercentage" value="thirty"> 30%

    <p>
    Tax
    <p>
    <input type="checkbox" name="hh" value="A"> sfds
    <input type="checkbox" name="hh" value="B"> rgrtg
    <p>
    Message <br>
    <textarea name="message" rows="3" cols="50"></textarea>
    <p>
    <input type="submit" value="Add">
    </form>