

<p> Welcome {{username}} ! </p>


<form method="post" action="/createinvoice">
    <input type="submit" value="Create new invoice" name="create"/>
   
</form>

<form action="/">
    <input type="submit" value="Log out" name="logout"/>
   
</form>


{% for invoice in all_invoices %}

<div class="card">
    <div class="container">
      <h4><b>{{invoice.id}}</b></h4> 
      <p>{{invoice.project_name}}</p> 
      <p>{{invoice.client_name}}</p> 
      <p> {{invoice.due_date}}</p> 
      <p> {{invoice.status}}</p> 
      <p></p> 
      <p></p> 
    </div>
  </div>

{% endfor %}













