{% extends "layout.html" %}
{% block title %}dashboard{% endblock %}
{% block content %}

<h1> Welcome {{username}}  </h1>
<button id ="topright"><a href="/logout"  target="_"  >Log out</a></button>



        <a href="/filter" class="feature five" target="_"  > Extended filtering</a>
        <a href="/addproject" class="feature four" target="_"  > Add project</a>
        <a href="/addclient" class="feature three" target="_"  > Add client</a>
        <a href="/addproduct" class="feature two" target="_"  > Add product</a>
        <a href="/createinvoice" class="feature one" target="_"  > Create new invoice</a>
 

       
    

        {% if noinvoices %}
        <p> You have no invoices yet</p>

        {% else %}

        <table>
            <tr>
                <th>Invoice number</th>
                <th>Project</th>
                <th>Client</th>
                <th>Due date</th>
                <th>Status</th>
                <th>Price</th>
                <th>Delete</th>

            </tr>
            {% for invoice in all_invoices %}
        
                <tr>
                    <th> {{invoice.id}}</th>
                    <th>{{invoice.project_name}}</th>
                    <th>{{invoice.client_name}}</th>
                    <th>{{invoice.due_date}}</th>
                    <th>{{invoice.status}}</th>
                    <th>{{invoice.final_price}}</th>
                    <th><a href="/delete/{{invoice.id}}" target="_"  > Delete</a></th>
                  
                </tr>
  
            {% endfor %}
        </table>

{% endif %}


   


{% endblock %}
