{% extends "layout.html" %}
{% block title %}extended filtering{% endblock %}
{% block content %}



  <button id ="topright"><a href="/dashboard"  target="_"  >To dashboard</a></button>

  <div>
   
    <div class="flex-container">
      <h2> Extended filtering </h2>

      <div>
      <form action="/filterbyclient" method="POST" id="extendedfiltering">
   
      Filter invoices by client<SELECT name="client">
        {% for client in clients %}
        <OPTION value={{client.name}}>{{client.name}}</option>
        {% endfor %}
      </SELECT>
      
      <input type="submit" value="Filter" class="filter">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
</div>

  <div>

  <form action="/filterbyproject" method="POST" id="extendedfiltering">
   
    Filter invoices by project<SELECT name="project" >
      {% for project in projects %}
      <OPTION value={{project.name}}>{{project.name}}</option>
      {% endfor %}
    </SELECT>
   

    <input type="submit" value="Filter" class="filter">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>

</div>



  {% if filtered_invoices %}
 
  <table>
      <tr>
          <th>Invoice number</th>
          <th>Project</th>
          <th>Client</th>
          <th>Due date</th>
          <th>Status</th>

      </tr>
      {% for invoice in invoices %}
  
          <tr>
              <th> {{invoice.id}}</th>
              <th>{{invoice.project_name}}</th>
              <th>{{invoice.client_name}}</th>
              <th>{{invoice.due_date}}</th>
              <th>{{invoice.status}}</th>
          </tr>

      {% endfor %}
  </table>
  {% else %}

  <p>No invoices based on filter criteria</p>



{% endif %}


</div>

      {% endblock %}