<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoicing - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <button id ="topright"><a href="/logout"  target="_"  >Log out</a></button>
        <a href="/filter" class="feature five" target="_"  > Extended filtering</a>
        <a href="/addproject" class="feature four" target="_"  > Add project</a>
        <a href="/addclient" class="feature three" target="_"  > Add client</a>
        <a href="/addproduct" class="feature two" target="_"  > Add product</a>
        <a href="/createinvoice" class="feature one" target="_"  > Create new invoice</a>
 
 
    {% block content %}{% endblock %}
    
</body>
</html>
