{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>

    <div class="maincontainer">
        <div class="maincontainercontent">
            <h3> Login </h3>
            <h3><a href="/signup" target="_">Sign up</a></h3>

            <form action="/dashboard" method="POST">
                <br>
                <input type="text" name="username" placeholder="username" required pattern="^.{3,}$">
                <br>
                <input type="password" name="password" placeholder="password" required pattern="^.{6,}$">
                <br>
                <input type="submit" value="Log in">
            </form>

            <span class="error_message">{{error_message}}</span>

        </div>
    </div>

{% endblock %}


