<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> login </h2>
            <h2><a href="/signup" target="_" class="inactive underlineHover">Sign up</a></h2>

            <form action="/dashboard" method="POST">
                <br>
                <input type="text" id=login class="fadeIn second" name="username" placeholder="username" required
                    pattern="^.{3,}$">
                <br>
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required
                    pattern="^.{6,}$">
                <br>
                <input type="submit" class="fadeIn fourth" value="Log in">
            </form>

            {{errormessage}}


        </div>
    </div>

</body>
</html>