<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


</head>

<body>

    <a href="/createproduct" class="feature" target="_"  > Create new product</a>
        
           <span class="error_message">{{error_message}}</span> 

        
           <table>
            <tr>
                <th>Product id</th>
                <th>Product name</th>
                <th>Price per unit</th>
                <th>Due date</th>
                <th>Status</th>
        
              </tr>
            {% for invoice in all_invoices %}
        
        
                
                <tr>
                    <th> {{invoice.id}}</th>
                    <th>{{invoice.project_name}}</th>
                    <th>{{invoice.client_name}}</th>
                    <th>{{invoice.due_date}}</th>
                    <th>{{invoice.status}}</th>
                  </tr>
        
          
            
            
            {% endfor %}
        </table>





</body>
</html>